*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif,"Source Sans";
    line-height: 1.6;
    color: #333;
    background-color: #fff;
}
a {
     text-decoration:none;
     color: inherit;
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    
}
nav a {
font-weight: bold;
color: #fff;
padding: 20px;
margin: 0;
}
header {
    padding: 20px 60px;
    background-color: transparent;
    position: absolute;
    width: 100%;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.background {
    background : url(../css_advanced/Images/Object.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    color: #fff;
    text-align: center;
    padding-top: 200px;
    height: 1093px;
}
.background h1{
    font-size: 60px;
    margin-bottom: 20px;
}
#about span {
    margin:0 10px;
    font-weight: 600;
    color: #fff;
}
.button{
    background-color: #c271ff;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    border-radius: 20px;
    margin-top: 30px;
    cursor: pointer;
}
.background h2 {
font-size: 28px;
color: #c271ff;
text-align: center;
margin-top: 200px;
}
.img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}
.color {
    color:#fff;
    font-weight: normal;
}
#heading2{
    background-color: #c271ff;
    color: #fff;
    display: flex;
    flex-direction: column 2;
    height: 392px;
    align-items: center;
    padding-left: 300px;
    left: 10%;
    right: 10%;
}
#word {
    padding-left: 20px;
}
h3 {
    padding-left: 20px;
}
#heading2 p{
    padding-left: 20px;
}